<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Самохвалов Юрий Алексеевич">
        <title>Category fragment</title>
    </head>
    <body>
        <div th:fragment="tree (categories)">
            <ul>
                <li th:each="category : ${categories}"></li>
                <th:block th:if="${category.hasSubcategories}">
                    <div th:replace="common/category::tree (category.subCategories)"></div>
                </th:block>
            </ul>
        </div>
    </body>
</html>