<!-- Самохвалов Юрий Алексеевич -->
<th:block th:fragment="widget (products)" xmlns:th="http://www.thymeleaf.org">

    <th:block th:unless="${#lists.isEmpty(products)}">

        <th:block th:each="product : ${products}">

            <!-- Карточка товара -->
            <div class="ui raised card"
                 th:object="${product}"
                 th:id="|product*{id}|">

                <!-- Фотография с ценой на ленточке -->
                <div class="image">
                    <a th:href="@{product/} + ${product.id}" class="ui medium image">
                        <div class="ui orange right ribbon label">
                            <b><span th:text="*{price} + ' '"/></b><i class="ruble sign icon"></i>
                        </div>
                        <div th:if="${product.extension == null or product.extension.isEmpty()}">
                            <img th:src="'/img/' + ${@environment.getProperty('default.image')}">
                        </div>
                        <div th:unless="${product.extension == null or product.extension.isEmpty()}">
                            <img th:src="'/img/' + ${product.id} + '/catalog.' + ${product.extension}">
                        </div>
                    </a>
                </div>

                <!-- Описание -->
                <div class="content">
                    <h3><a th:href="@{product/} + ${product.id}" class="header" th:text="*{name}">Name</a></h3>
                    <div th:text="'Код товара: ' + *{id}">ID</div>
                </div>

                <!-- Кнопка добавления в корзину -->
                <div class="extra content">
                    <div class="ui right floated icon inverted button"
                         th:onclick="|confirm('#modal*{id}', *{id})|">
                        <i class="cart arrow down green link large icon"></i>
                    </div>
                </div>

                <!-- Модальное окно подтверждения добавление в корзину -->
                <div class="ui basic modal" th:id="|modal*{id}|">

                    <!-- Заголовок -->
                    <div class="ui icon header">
                        <i class="cart arrow down large icon"></i>
                        <span th:text="|Добавить в корзину *{name}?|">Add to cart iPhone?</span>
                    </div>

                    <!-- Содержание диалога (фото) -->
                    <div class="content">
                        <div class="ui centered medium image">
                            <div th:if="${product.extension == null or product.extension.isEmpty()}">
                                <img th:src="'/img/' + ${@environment.getProperty('default.image')}">
                            </div>
                            <div th:unless="${product.extension == null or product.extension.isEmpty()}">
                                <img th:src="'/img/' + ${product.id} + '/product.' + ${product.extension}">
                            </div>
                        </div>
                    </div>

                    <!-- Кнопки -->
                    <div class="ui center aligned actions">
                        <div class="ui green basic approve button" th:text="#{product.cards.modal.yes}">Yes</div>
                        <div class="ui red basic cancel button" th:text="#{product.cards.modal.no}">No</div>
                    </div>
                </div>

            </div>
        </th:block>
    </th:block>

    <th:block th:if="${#lists.isEmpty(products)}">
        <div class="ui segment placeholder">
            <div class="ui red icon header">
                <i class="question circle red outline icon"></i>
                <span th:text="#{product.cards.no_found}">No found</span>
            </div>
        </div>
    </th:block>

</th:block>
