<!-- Самохвалов Юрий Алексеевич -->
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="tree (categories)"
     class="ui selection list"
     th:each="category : ${categories}">

    <div th:replace="/product/tree-item :: item (${category})">Category name</div>

    <th:block th:unless="${#lists.isEmpty(category.subcategories)}">
        <!-- Список субкатегорий -->
        <div th:replace="/product/categories-tree :: tree (${category.subcategories})">
            Subcategories sublist
        </div>
    </th:block>
</div>
