<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Самохвалов Юрий Алексеевич">
        <title>Product Filters</title>
    </head>
    <body>

        <div th:fragment="filter (categories)">
            <div class="ui form">
                <div class="field">
                    <!-- Селектор категорий -->
                    <label th:text="#{product.filter.label.category}"></label>
                    <div th:replace="/product/categories-tree :: tree (${categories})">
                    </div>
                    <div class="field">
                        <label th:text="#{product.filter.label.minimal_price}">Minimal price</label>
                        <input type="number" th:field="${minimalPrice}">
                    </div>
                    <div class="field">
                        <label th:text="#{product.filter.label.maximal_price}">Maximal price</label>
                        <input type="number" th:field="${maximalPrice}">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>