<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/main :: common_header (~{::title}, _, ~{::script})">
        <meta charset="UTF-8">
        <meta name="author" content="Самохвалов Юрий Алексеевич">
        <title th:text="#{product.index.page_title}">Product List</title>
        <script th:src="@{/js/product.js}"></script>
    </head>
    <body>
        <div th:replace="common/main :: header"></div>

        <div class="ui container">
            <h1 class="header" th:text="#{product.index.header}">Products</h1>
            <div class="ui grid container">

                <!-- Фильтры -->
                <div class="four wide column">
                    <div class="ui form">
                        <div class="field">
                            <!-- Селектор категорий -->
                            <label th:text="#{product.index.label.category}"></label>
                            <select class="ui dropdown" onchange="onCategoryChange(this)">
                                <option value="" th:text="#{product.index.select.all}">All</option>
                                <option th:each="category : ${categories}"
                                        th:object="${category}"
                                        th:value="*{id}"
                                        th:text="*{name}">Category Name
                                </option>
                            </select>

                        </div>
                    </div>
                </div>

                <!-- Карточки товаров -->
                <div class="twelve wide column">
                    <div class="ui four cards">
                        <div class="ui raised card"
                             th:each="product : ${products}"
                             th:object="${product}"
                             th:id="|product*{id}|"
                             th:data-category="*{categoryId}">

                            <div class="image">
                                <div class="ui orange right ribbon label" th:text="*{price}">999.99$</div>
                                <img src="/img/default.jpg" th:src="@{/img/{pic}(pic=*{picture})}">
                            </div>

                            <div class="content">
                                <div th:text="*{description}">Description</div>
                            </div>

                            <div class="extra content">
                                <div class="ui right floated icon inverted button"
                                     th:onclick="|$('#modal*{id}').modal({ onApprove: function () { addToCart(*{id}) }}).modal('show')|">
                                    <i class="cart arrow down green link large icon"></i>
                                </div>
                            </div>

                            <!-- Подтверждение действия -->
                            <div class="ui basic modal" th:id="|modal*{id}|">
                                <div class="ui icon header">
                                    <i class="cart arrow down large icon"></i>
                                    <span th:text="|Добавить в корзину *{name}?|">Add to cart iPhone?</span>
                                </div>
                                <div class="content">
                                    <div class="ui centered medium image">
                                        <img src="/img/default.png" th:src="@{/img/{pic}(pic=*{picture})}">
                                    </div>
                                    <div class="" th:text="*{price}">999.99$</div>
                                </div>
                                <div class="actions">
                                    <div class="ui red basic cancel button">Нет</div>
                                    <div class="ui green basic approve button">Да</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>