<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/main :: common_header (~{::title}, _, ~{::script})">
        <meta charset="UTF-8">
        <meta name="author" content="Самохвалов Юрий Алексеевич">
        <title th:text="#{product.index.page_title}">Product List</title>
        <script th:src="@{/js/product.js}"></script>
    </head>
    <body>
        <div th:replace="common/main :: header"></div>

        <div class="ui container">
            <h1 class="header" th:text="#{product.index.header}">Products</h1>
            <div class="ui grid container">

                <!-- Фильтры -->
                <div class="four wide column">
                    <div th:replace="/product/filter :: filter (${categories})"></div>
                </div>

                <!-- Карточки товаров -->
                <div class="twelve wide column">
                    <div id="cards" class="ui four cards">
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>