<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Interstellar Ship Internet Shop - Products</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<br>
<div class="ui main container">
    <div class="ui two column stackable grid">
        <div class="column">
            <form action="#" th:action="@{/admin/products}">
                <button class="ui button" type="submit">
                    Управление товарами
                </button>
            </form>
        </div>
        <div class="column">
            <form action="#" th:action="@{/admin/category}">
                <button class="ui button" type="submit">
                    Управление категориями
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>