<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Interstellar Ship Internet Shop - Products</title>
</head>

<body>
<div th:replace="common/main :: header"></div>

<div class="ui container">
    <div class="ui menu">
        <a th:href="@{/admin/}" class="item">Администрирование</a>
        <a th:href="@{/admin/products}" class="item">Товары</a>
        <a th:href="@{/admin/categories}" class="item">Категории</a>
        <a th:href="@{/admin/productstatus}" class="item">Статус товара</a>
        <a th:href="@{/admin/addnewproduct}" class="item">Новый товар</a>
        <div class="right menu">
            <form th:action="@{/admin/products}">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </form>
            <a th:href="@{/admin/products}" class="ui item">Найти</a>
        </div>
    </div><br>
</div>

<div class="ui container">

        <div class="ui attached message">
            <div class="header">
                Добавление нового товара
            </div>
        </div>
        <form th:action="@{/admin/product/add}" class="ui form attached fluid segment" enctype="multipart/form-data" method="post">
            <div class="field">
                <label>Наименование</label>
                <input type="text" name="name" placeholder="Наименование">
            </div>
            <div class="field">
                <label>Категория</label>
                <select class = "form-control"  name="category_id">
                    <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.id} + ' -> ' + ${c.name}"/>
                </select>
            </div>
            <div class="field">
                <label>Характеристики</label>
                <input type="text" name="description" placeholder="Характеристики">
            </div>
            <div class="field">
                <label>Цена(Руб.)</label>
                <input type="text" name="price" placeholder="00.00" pattern="\d+.\d{2}">
            </div>
            <div class="field">
                <label>Изображение</label>
                <input type="file" name="picture_file" accept="image/jpeg">
            </div>
            <div class="field">
                <label>Статуc товара</label>
                <select class = "form-control"  name="product_status">
                    <option th:each="s : ${product_status}" th:value="${s.id}" th:text="${s.id} + ' -> ' + ${s.description}"/>
                </select>
            </div>
            <div class="actions">
                <button type="submit" class="ui primary button">Сохранить</button>
                <button type="button" class="ui cancel button">Отмена</button>
            </div>
        </form>

</div>


<footer th:replace="common/main::footer"></footer>
</body>



</html>