<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Interstellar Ship Internet Shop - Products</title>
</head>

<body>
<div th:replace="common/main :: header"></div>

<div class="ui container">
    <div class="ui menu">
        <a th:href="@{/admin/}" class="item">Администрирование</a>
        <a th:href="@{/admin/products}" class="item">Товары</a>
        <a th:href="@{/admin/categories}" class="item">Категории</a>
        <a th:href="@{/admin/productstatus}" class="item">Статус товара</a>
        <a th:href="@{/admin/addnewproduct}" class="item">Новый товар</a>
        <div class="right menu">
            <form th:action="@{/admin/products}">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </form>
            <a th:href="@{/admin/products}" class="ui item">Найти</a>
        </div>
    </div><br>
</div>

<div class="ui container">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Стоимость(Руб.)</th>
            <th>Изображение</th>
            <th>Статус</th>
            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pr: ${products}">
            <td th:text="${pr.id}"/>
            <td th:text="${pr.name}"/>
            <td th:text="${pr.category.id} + '->' + ${pr.category.name}"/>
            <td th:text="${pr.description}"/>
            <td th:text="${pr.price}"/>
            <td>
                <img th:src="'/img/' + ${pr.picture}" class="ui mini rounded image">
                <div class="content">
                    <div class="sub header" th:text="${pr.picture}"/>
                </div>
            </td>
            <td th:text="${pr.status.id} + '->' + ${pr.status.description}"/>
            <td class="selectable positive">
                <a th:href="@{'/admin/product/' + ${pr.id} + '/edit'}">Редактировать данные</a>
            </td>
            <td class="selectable negative">
                <a th:href="@{'/admin/product/' + ${pr.id} + '/delete'}">Удалить товар</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>