<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/main :: common_header (~{::title}, _, _)">
        <meta charset="UTF-8">
        <meta content="Самохвалов Юрий Алексеевич" name="author">
        <title th:text="#{order.enter.title}">Title</title>
    </head>
    <body>
        <header th:replace="/common/main :: header"></header>

        <div class="ui main grid container">
            <div class="row">
                <div class="column">
                    <div th:replace="/order/widgets/steps :: widget ('enter')"></div>
                </div>
            </div>

            <div class="two column centered row" style="height:100%">
                <div class="column">
                    <div th:replace="/order/widgets/customer :: widget (${customer})"></div>
                </div>
            </div>

        </div>

        <footer th:replace="/common/main :: footer"></footer>
    </body>
</html>