<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/main :: common_header (~{::title}, _, _)">
        <meta charset="UTF-8">
        <meta content="Самохвалов Юрий Алексеевич" name="author">
        <title>Title</title>
    </head>
    <body>
        <header th:replace="/common/main :: header"></header>

        <div class="ui main grid container">
            <div class="row">
                <div class="column">
                    <div th:replace="/order/steps :: widget ('enter')"></div>
                </div>
            </div>

            <div class="two column centered row">
                <div class="column">
                    <div th:replace="/order/customer :: widget (${customer})"></div>
                </div>
            </div>

        </div>
    </body>
</html>