<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/main :: common_header (~{::title}, ~{::link}, ~{::script})">
        <meta charset="UTF-8">
        <meta content="Самохвалов Юрий Алексеевич" name="author">
        <title th:text="#{order.shipping.title}">Title</title>
        <!-- Подключение подсказок dadata.ru -->
        <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css"
              rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
        <script th:src="@{/js/address.js}"></script>
    </head>
    <body>
        <header th:replace="/common/main :: header"></header>

        <div class="ui main grid container">
            <div class="row">
                <div class="column">
                    <div th:replace="/order/steps :: widget ('shipping')"></div>
                </div>
            </div>

            <div class="two column centered row">

                <div class="column">

                    <form class="ui form" method="post" th:action="@{/order/shipping}">

                        <div class="ui two item menu" id="shippingMethod">
                            <a class="active item">Доставка из магазина</a>
                            <a class="item">Самовывоз</a>
                        </div>

                        <input id="comment" name="address" th:placeholder="#{order.shipping.address.placeholder}"
                               type="text">

                        <div th:replace="/order/address :: widget (${addresses})"></div>
                        <div th:replace="/order/outlets :: widget (${outlets})"></div>

                        <button class="ui primary button" th:text="#{order.shipping.button.submit}"
                                type="submit">Submit
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </body>
</html>