<div class="ui fluid steps"
     th:fragment="widget"
     xmlns:th="http://www.thymeleaf.org">
    <!-- Покупатель регистрируется или входит в систему -->
    <div class="step">
        <i class="ui user icon"></i>
    </div>
    <!-- Выбор способа доставки и адреса -->
    <div class="step">
        <i class="ui truck icon"></i>
    </div>
    <!-- Выбор способа оплаты и ввод данных карты -->
    <div class="step">
        <i class="ui credit card icon"></i>
    </div>
    <!-- Проверка и подтверждение заказа -->
    <div class="step">
        <i class="ui handshake icon"></i>
    </div>
</div>