<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/main :: common_header (~{::title}, _, ~{::script})">
        <meta content="Самохвалов Юрий Алексеевич" name="author">
        <title>Address Editor</title>
        <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css"
              rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
        <script th:src="@{/js/address.js}"></script>
    </head>
    <body>
        <div th:replace="/common/main :: header">Header</div>

        <div class="ui main grid container">
            <div class="column">
                <form class="ui form" method="post" th:action="@{/address/save}" th:object="${address}">
                    <input th:field="*{id}" type="hidden">
                    <input th:field="*{customerId}" th:value="${customerId}" type="hidden">
                    <div class="field">
                        <label>Адрес</label>
                        <input th:field="*{comment}" type="text">
                    </div>
                    <button class="ui button" th:text="#{address.editor.save}" type="submit">Save</button>
                </form>
            </div>
        </div>

        <footer th:replace="/common/main :: footer"></footer>
    </body>
</html>