<div th:fragment="widget (addresses)" xmlns:th="http://www.thymeleaf.org">
    <h4 class="ui horizontal divider header" th:text="#{address.list.shipping_addresses}">Addresses</h4>
    <table class="ui celled table">
        <thead>
            <tr>
                <th th:text="#{address.list.address}">Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody th:unless="${#lists.isEmpty(addresses)}">
            <tr th:each="address : ${addresses}">
                <td>
                    <a th:href="@{/address/{addressId}/edit(addressId=${address.id})}"
                       th:text="${address.comment}">New York 5th Avenue 222bis</a>
                </td>
                <td>
                    <a th:href="@{/address/{addressId}/delete(addressId=${address.id})}">
                        <i class="ui red trash icon"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(addresses)}">
            <tr>
                <td th:text="#{address.list.empty}">Empty list</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>