<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title th:text="#{categories.title}">Edit categories</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<div class="ui main container">
    <h1 class="ui center aligned header">Список категорий</h1>
    <table class="ui celled table">
        <tbody>
        <tr>
            <td>
                <form action="#" th:action="@{/categories/add}">
                    <button class="ui primary button" type="submit">Добавить категорию</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="ui celled table">
        <tbody>
        <thead>
    <tr>
        <th colspan="3">Меню поиска с параметрами</th>
        <th colspan="1">Всего найдего:</th>
        <th colspan="1" th:text="${categoryList.totalCategory}"></th>
    </tr>
    <tr>
        <th>Наименование</th>
        <th>ID родителя</th>
        <th>Размер страницы</th>
        <th colspan="2">Действие</th>
    </tr>
    </thead>

        <tbody>
        <form class="ui form" action="#" th:action="@{/categories}" th:object="${categorySearchRequest}">
            <tr>
                <td>
                    <div class="ui input">
                        <input class="ui input" type="text" th:field="*{name}"/>
                    </div>
                </td>
                <td>
                    <div class="ui input">
                        <select class="ui dropdown" th:field="*{parentCategoryId}">
                            <option th:value="-1" th:selected="${parentCategoryId == -1}">Показать все</option>
                            <option th:value="0" th:selected="${parentCategoryId == 0}">Без родителя</option>
                            <option th:each="i : ${parentCategories}"
                                    th:value="${i.id}" th:text="'ID:' + ${i.id} + ' -> ' + ${i.name}"
                                    th:selected="${i.id == parentCategoryId}"></option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="ui input">
                        <input class="ui input" type="number" max="100" min="1" th:field="*{pageSize}"/>
                    </div>
                </td>
                <td>
                    <div>
                        <button class="ui button" type="submit">Показать</button>
                    </div>
                </td>
            </tr>
        </form>
        </tbody>
    </table>

    <div th:replace="/common/paginator :: widget (${categorySearchRequest.pageNumber}, ${totalPage})"></div><br><br>

    <div class="ui container" th:if="${#arrays.isEmpty(categoryList.category)}">
        <h4>По вашему запросу ничего не найдено...</h4>
        <a th:href="@{/categories}">Показать полный список</a><br>
    </div>

    <div class="ui container" th:unless="${#arrays.isEmpty(categoryList.category)}">
        <table class="ui celled table">
            <thead>
            <tr><th th:text="'ID: ' + #{categories.name}">Name</th>
                <th th:text="#{categories.parent_category}">Parent category</th>
                <th colspan="2" th:text="#{categories.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${categoryList.category}">
                <td th:text="${category.id} + ':  ' + ${category.name}">Name</td>
                <td th:text="${category?.parentName}">Subcategory</td>
                <td class="right aligned collapsing">
                    <form th:action="@{/category/edit}" method="get">
                        <button type="submit" name="categoryId" th:value="${category.id}" class="ui primary basic button"
                                th:text="#{categories.edit}">
                            Edit
                        </button>
                    </form>
                </td>
                <td class="right aligned collapsing">
                    <form th:action="@{/category/delete}" method="post">
                        <button type="submit" name="categoryId" th:value="${category.id}" class="ui negative basic button"
                                th:text="#{categories.delete}">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>