<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title th:text="#{categories.title}">Edit categories</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<div class="ui main container">
    <h1 class="ui center aligned header" th:text="#{categories.categories_list}">Categories list</h1>
    <table class="ui celled table">
        <tbody>
        <tr>
            <td>
                <form method="POST" action="#" th:action="@{/category/add}">
                    <button class="ui primary button" th:text="#{categories.add_category}">
                        Add category
                    </button>
                </form>
            </td>

            <td class="right aligned collapsing">
                <form method="POST" class="ui form" action="#" th:action="@{/templates/categories}">
                    <div class="fields">
                    <div class="field">
                        <div class="ui input">
                            <input class="ui input" th:placeholder="#{categories.find_name}" placeholder="Name..."
                                   th:name="name" name="name" id="name" type="text"/>
                        </div>
                    </div>
                    <div class="field">
                        <input class="ui button" type="submit" value="Find" th:value="#{categories.find}"/>
                    </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="ui celled table">
        <thead>
        <tr><th th:text="#{categories.name}">Name</th>
            <th th:text="#{categories.parent_category}">Parent category</th>
            <th colspan="2" th:text="#{categories.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category: ${categoryList}">
            <td th:text="${category.name}">Name</td>
            <td th:text="${category?.parentName}">Subcategory</td>
            <td class="right aligned collapsing">
                <form method="POST" th:action="@{/category/edit(categoryId=${category.id})}">
                    <button type="submit" name="submit" value="value" class="ui green button"
                            th:text="#{categories.edit}">
                        Edit
                    </button>
                </form>
            </td>
            <td class="right aligned collapsing">
                <form method="POST" th:action="@{/category/delete(categoryId=${category.id})}">
                    <button type="submit" name="submit" value="value" class="ui red button"
                            th:text="#{categories.delete}">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>