<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title th:text="#{products.title}">Edit products</title>
</head>

<body th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
<div th:replace="common/main :: header"></div>

<div class="ui container">
    <div class="ui menu">
        <a th:href="@{/product/add}" class="item" th:text="#{products.add_new}">Add new</a>
        <div class="right menu">
            <div class="item">
                <form th:action="@{/products}" method="get">
                    <div class="ui action input">
                        <select class="ui dropdown" name="categoryId">
                            <option value="" th:text="#{products.all_category}"></option>
                            <tr th:each="category: ${categories}">
                                <option th:value="${category.id}" th:text="${category.name}"></option>
                            </tr>
                        </select>
                        <input type="text" name="priceFrom" th:placeholder="#{products.price_from}">
                        <input type="text" name="priceTo" th:placeholder="#{products.price_to}">
                        <input type="text" name="search" th:placeholder="#{products.search}">
                        <input type="hidden" name="pageSize" th:value="${searchResult.pageSize}"/>
                        <button class="ui icon button" type="submit">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="ui container" th:if="${#arrays.isEmpty(searchResult.products)}">
    <h4 th:text="#{products.not_found}">Not found...</h4>
    <a th:href="@{/products}" th:text="#{products.show_all}">Show all products</a><br>
</div>

<div class="ui container" th:unless="${#arrays.isEmpty(searchResult.products)}">
    <form th:action="@{/products}" method="get">
        <div class="ui form">
            <div class="inline fields">
                <div class="three wide field">
                    <label th:text="#{products.page_size}"></label>
                    <input type="text" th:placeholder="${searchResult.pageSize}" name="pageSize">
                    <input type="hidden" name="search" th:if="${searchName}" th:value="${searchName}"/>
                    <input type="hidden" name="priceFrom" th:if="${priceFrom}" th:value="${priceFrom}"/>
                    <input type="hidden" name="priceTo" th:if="${priceTo}" th:value="${priceTo}"/>
                    <input type="hidden" name="categoryId" th:if="${categoryId}" th:value="${categoryId}"/>
                </div>
                <div class="three wide field">
                    <input class="ui submit button" type="submit" th:value="#{products.apply}">
                </div>
            </div>
        </div>
    </form>
    <table class="ui celled table">
        <thead>
        <tr>
            <th th:text="#{products.article}">Article</th>
            <th th:text="#{products.name}">Name</th>
            <th th:text="#{products.category}">Category</th>
            <th th:text="#{products.description}">Description</th>
            <th th:text="#{products.price}">Price</th>
            <th th:text="#{products.picture}">Image</th>
            <th th:text="#{products.status}">Status</th>
            <th th:text="#{products.edit}">Edit</th>
            <th th:text="#{products.delete}">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pr: ${searchResult.products}">
            <td th:text="${pr.id}"/>
            <td th:text="${pr.name}"/>
            <td th:text="${pr.category.id} + '-> ' + ${pr.category.name}"/>
            <td th:text="${pr.description}"/>
            <td th:text="${pr.price}"/>
            <td>
                <img th:src="'/img/' + ${pr.picture}" class="ui mini rounded image">
                <div class="content">
                    <div class="sub header" th:text="${pr.picture}"/>
                </div>
            </td>
            <td th:text="${pr.status.id} + '-> ' + ${pr.status.description}"/>
            <td>
                <form th:action="@{'/product/edit'}" method="post">
                    <button class="ui primary basic button" type="submit" name="productId" th:value="${pr.id}"
                            th:text="#{products.edit}">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form th:action="@{'/product/delete'}" method="post">
                    <button class="ui negative basic button" type="submit" name="productId" th:value="${pr.id}"
                            th:text="#{products.delete}">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="ui pagination menu" th:if="${searchResult.totalPages}">

        <a class="item" th:if="${searchResult.firstPage}"
           th:href="${urlBuilder.fromCurrentRequest()
           .replaceQueryParam('pageNumber', searchResult.firstPage).toUriString()}"
           th:text="${searchResult.firstPage}"></a>
        <div class="disabled item" th:if="${searchResult.firstPage} and ${searchResult.prevPage} > 2">
            ...
        </div>

        <a class="item" th:if="${searchResult.prevPage}"
           th:href="${urlBuilder.fromCurrentRequest()
           .replaceQueryParam('pageNumber', searchResult.prevPage).toUriString()}"
           th:text="${searchResult.prevPage}"></a>
        <a class="active item" th:text="${searchResult.pageNumber}"></a>
        <a class="item" th:if="${searchResult.nextPage}"
           th:href="${urlBuilder.fromCurrentRequest()
           .replaceQueryParam('pageNumber', searchResult.nextPage).toUriString()}"
           th:text="${searchResult.nextPage}"></a>

        <div class="disabled item" th:if="${searchResult.lastPage} and
        ${searchResult.nextPage} + 1 < ${searchResult.lastPage}">
            ...
        </div>
        <a class="item" th:if="${searchResult.lastPage}"
           th:href="${urlBuilder.fromCurrentRequest()
           .replaceQueryParam('pageNumber', searchResult.lastPage).toUriString()}"
           th:text="${searchResult.lastPage}"></a>
    </div>
</div>
<br>
<footer th:replace="common/main::footer"></footer>
</body>
</html>