<!-- Роман Каравашкин-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/fomain :: common_header(~{::title},_,~{::script})">
    <meta charset="UTF-8">
    <meta name="author" content="Роман Каравашкин">
    <title th:text="${product.name}"></title>
    <script th:src="@{/js/addToCart.js}"></script>

</head>
<body>
<div th:replace="/common/main :: header"></div>

<div th:each="pr: ${product}" class="ui main container">

    <h1 class="ui header " th:text="'Смартфон  '+${product.name}"/>

    <div class="ui two column divided grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui segment">
                    <img class="ui fluid image" src="/images/p1.jpg" th:src="'/img/' + ${product.picture}"/>
                </div>
            </div>

            <div class="column">
                <div class="ui segment">
                    <h1 class="ui header" th:text="${product.price}+' Руб.'"/>

                    <button class="ui yellow button" th:onclick="|testOne(${product.id})|">Добавить в корзину</button>

                    <div id="ratingStar">
                        <br>
                        <div sec:authorize="isAuthenticated()">
                            <div class="content">
                                <div class="ui huge red rating" id="rate_for_aut"  th:data-rating="${rate}" data-max-rating="5"></div>
                            </div>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <div class="content">
                                <div class="ui huge black rating" id="rate_for_anon" th:data-rating="${rate}"   data-max-rating="5"></div>
                            </div>
                        </div>
                    </div>

                </div>

        <input type="hidden" id="productId" name="productId" th:value="${product.id}">

                <div class="ui segment">

                    <h3 class="ui header" th:text="'ID: '+${product.id}"/>
                    <h3 class="ui header" th:text="'Description: '+${product.description}"></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#rate_for_anon')
            .rating(
            'disable'
            );
</script>


<script>
    $('#rate_for_aut')
        .rating({
            onRate: function (value){
                let ptId =  $('#productId').val();
                let url = '/product/'+unescape(ptId)+'/'+unescape(value);
                console.log(value);
                $.ajax({
                    url: url,
                    method: 'POST'
                }).then(function (){
                    showToast('rate done')
                }).catch(function (){
                    showToast('Error')
                })
            }
        });
</script>


<footer th:replace="common/main::footer"></footer>
</body>
</html>
