<!-- Роман Каравашкин-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fomain :: common_header(~{::title},_,~{::script})">
    <meta charset="UTF-8">
    <meta name="author" content="Роман Каравашкин">
    <title th:text="${product.name}"></title>
    <script th:src="@{/js/addToCart.js}"></script>

</head>
<body>
<div th:replace="/common/main :: header"></div>

<div th:each="pr: ${product}" class="ui main container">

    <h1 class="ui header " th:text="'Смартфон  '+${product.name}"/>

    <div class="ui two column divided grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui segment">
                    <img class="ui fluid image" src="/images/p1.jpg" th:src="'/img/' + ${product.picture}"/>
                </div>
            </div>

            <div class="column">
                <div class="ui segment">
                    <h1 class="ui header" th:text="${product.price}+' Руб.'"/>

                    <button class="ui yellow button" th:onclick="|testOne(${product.id})|">Добавить в корзину</button>

                    <h1 class="ui header" th:text="'Рейтинг товара: '+${rate}+'/10.'"/>

                </div>
                <div class="ui segment">

                    <h3 class="ui header" th:text="'ID: '+${product?.id}"/>
                    <h3 class="ui header" th:text="'Description: '+${product.description}"></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
                <div class="ui very relaxed celled list">
                    <div class="item">
                        <img>
                        <div class="content">
                            <div class="header">
                                New York Dog Fair
                                <div class="ui red rating" data-icon="heart" data-rating="2"></div>
                            </div>
                            A fun day at the fair
                        </div>
                    </div>
                    <div class="item">
                        <img>
                        <div class="content">
                            <div class="header">
                                Dog Appreciation Day
                                <div class="ui red rating" data-icon="heart" data-rating="2"></div>
                            </div>
                            I'd like to tell your dog he's great
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $('.toggle.example .rating')
        .rating({
            initialRating: 2,
            maxRating: 4
        })
    ;
</script>
<footer th:replace="common/main::footer"></footer>
</body>
</html>
