<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/main :: common_header(~{::title},_,_)">
        <title>Cart</title>
    </head>
    <body>
        <div th:replace="common/main :: header"></div>
        <div class="ui main container">
            <div class="ui main grid">
                <div class="four wide column row">
                    <a th:href="@{/cart}">Назад в корзину</a>
                </div>
                <div class="four wide column centered row">
                    <div class="column left aligned">
                        <form class="ui form" method="post" th:action="@{/cart/checkout}" th:object="${checkoutForm}">
                            <div class="field">
                                <label> *First name : <input autofocus="autofocus" name="firstName"
                                                             placeholder="first name"
                                                             th:required="required" th:value="${customer.firstName}"
                                                             type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> Middle Name : <input name="middleName" placeholder="middle name"
                                                             th:value="${customer.middleName}"
                                                             type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> *Last Name : <input name="lastName" placeholder="last name"
                                                            th:required="required"
                                                            th:value="${customer.lastName}" type="text"/>
                                </label>
                            </div>

                            <div class="field">
                                <label> *Phone: <input name="phone" placeholder="89991234567" th:field="*{phone}"
                                                       th:required="required" th:value="${customer.phone}"
                                                       type="text"/> </label>
                                <td th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></td>
                            </div>
                            <div class="field">
                                <label> *Email: <input name="email" placeholder="email" th:field="*{email}"
                                                       th:required="required"
                                                       th:value="${customer.email}" type="text"/>
                                </label>
                                <td th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></td>
                            </div>
                            <div class="field">
                                <label> *Region: <input name="region" placeholder="region" th:required="required"
                                                        type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> *City: <input name="city" placeholder="city" th:required="required"
                                                      type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> District: <input name="district" placeholder="district" type="text"/>
                                </label>
                            </div>
                            <div class="field">
                                <label> *Street: <input name="street" placeholder="street" type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> *House: <input name="house" placeholder="house" type="text"/> </label>
                            </div>
                            <div class="field">
                                <label> *Apartment: <input name="apartment" placeholder="apartment" type="text"/>
                                </label>
                            </div>
                            <div class="field">
                                <label> Comment: <input name="comment" placeholder="comment" type="text"/> </label>
                            </div>
                            <button class="ui primary button" type="submit">
                                Checkout
                            </button>
                        </form>
                    </div>
                </div>
                <div class="four wide column row">
                    * - Поля обязательные для заполнения
                </div>
            </div>
        </div>
        <footer th:replace="common/main::footer"></footer>
    </body>
</html>