<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Cart</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<div class="ui main container">
    <div class="ui main grid">
        <div class="four wide column row">
            <a th:href="@{/cart}">Назад в корзину</a>
        </div>
        <div class="four wide column centered row">
            <div class="column left aligned">
                <form class="ui form" th:action="@{/cart/checkout}" method="post" th:object="${checkoutForm}">
                    <form class="ui form" th:action="@{/cart/checkout}" method="post">
                        <div class="field">
                            <label> *First name : <input type="text" name="firstName" placeholder="first name"
                                                         autofocus="autofocus" th:value="${customer.firstName}"
                                                         th:required="required"/> </label>
                        </div>
                        <div class="field">
                            <label> Middle Name : <input type="text" name="middleName" placeholder="middle name"
                                                         th:value="${customer.middleName}"/> </label>
                        </div>
                        <div class="field">
                            <label> *Last Name : <input type="text" name="lastName" placeholder="last name"
                                                        th:value="${customer.lastName}" th:required="required"/> </label>
                        </div>

                        <div class="field">
                            <label> *Phone: <input type="text" name="phone" placeholder="89991234567"
                                                   th:field="*{phone}" th:value="${customer.phone}"
                                                   th:required="required"/> </label>
                            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
                        </div>
                        <div class="field">
                            <label> *Email: <input type="text" name="email" placeholder="email" th:field="*{email}"
                                                   th:value="${customer.email}" th:required="required"/> </label>
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                        </div>
<!--                    <div class="field">-->
<!--                        &lt;!&ndash;Если у пользователя один или много адресов&ndash;&gt;-->
<!--                        <label th:if="${customer.addresses.size()} != 0"> *Address:-->
<!--                            <select name="address" th:each="address : ${addresses}" >-->
<!--                                <option value="${address}"></option>-->
<!--                            </select>-->
<!--                        </label>-->
<!--                        &lt;!&ndash;Если у пользователя нет адреса&ndash;&gt;-->
<!--                        <label th:if="${customer.addresses.size()} == 0"> *Address:-->
<!--                            <input type="text" name="address" placeholder="address" th:required="required"/>-->
<!--                        </label>-->
<!--                    </div>-->
                        <div class="field">
                            <label> *Region: <input type="text" name="region" placeholder="region" th:required="required"/> </label>
                        </div>
                        <div class="field">
                            <label> *City: <input type="text" name="city" placeholder="city" th:required="required"/> </label>
                        </div>
                        <div class="field">
                            <label> District: <input type="text" name="district" placeholder="district" /> </label>
                        </div>
                        <div class="field">
                            <label> *Street: <input type="text" name="street" placeholder="street" /> </label>
                        </div>
                        <div class="field">
                            <label> *House: <input type="text" name="house" placeholder="house" /> </label>
                        </div>
                        <div class="field">
                            <label> *Apartment: <input type="text" name="apartment" placeholder="apartment" /> </label>
                        </div>
                        <div class="field">
                            <label> Comment: <input type="text" name="comment" placeholder="comment" /> </label>
                        </div>
                        <button class="ui primary button" type="submit">
                            Checkout
                        </button>
                    </form>
            </div>
        </div>
        <div class="four wide column row">
            * - Поля обязательные для заполнения
        </div>
    </div>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>