<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Electronic Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Популярные товары</h1>
    <div th:each="pr, iter : ${products}" class="alert alert-info mt-2" th:if="${iter.index}<5">
            <h3><a th:href="'product/' + ${pr.id}" th:text="${pr.name}"/></h3>
            <p th:text="'Цена: ' + ${pr.price} + ' руб.'"/>
            <p><a th:href="'product/' + ${pr.id}"><img th:src="'/img/' + ${pr.picture}"  width="150" height="150" border="0"></a></p>
    </div>


</div>

</body>
</html>