<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Заголовок</h1>
<form action="#" th:action="@{/test}" th:object="${testData}" method="post">
    <p>Сообщение: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Сохранить" />
</form>
<table>
    <thead>
    <tr>
        <th> Сообщение </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dataList.empty}">
        <td colspan="2"> Нет данных </td>
    </tr>
    <tr th:each="data : ${dataList}">
        <td><span th:text="${data.content}"> Author </span></td>
        <td><form method="POST" th:action="@{/delete(dataId=${data.id})}">
            <button type="submit" name="submit" value="value" class="link-button">Удалить</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
<form method="POST" th:action="@{/deleteAll}">
    <button type="submit" name="submit" value="value" class="link-button">Удалить всё</button>
</form>
</body>
</html>