<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Electronic Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5" >
    <h1>Добавление нового товара</h1>
    <form action="/newproduct" method="post" enctype="multipart/form-data">
        <h6>Название</h6>
        <input type="text" name="name" placeholder="Название товара" class="form-control">
        <h6>Цена</h6>
        <input type="text" name="price" placeholder="00.00" pattern="\d+.\d{2}" data-type="currency" class="form-control">
        <h6>Категория</h6>
        <select class = "form-control"  name="category_Id">
            <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.id} + ' -> ' + ${c.name}"/>
        </select>
        <h6>Описание</h6>
        <input type="text" name="description" placeholder="Описание товара" class="form-control">
        <h6>Изображение</h6>
        <input type="file" name="picturefile" placeholder="Выберите изображение товара" accept="image/jpeg" size="" class="form-control"><BR>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
</body>
</html>