<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/main :: common_header (~{::title}, _, _)">
        <meta name="author" content="Самохвалов Юрий Алексеевич">
        <title th:text="#{customer.list.page_title}">Customer List</title>
    </head>
    <body>
        <div th:replace="common/main :: header"></div>

        <div class="ui main container">

            <h3 class="ui dividing header"
                th:text="#{customer.list.header}">Customer List Page
            </h3>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th th:text="#{customer.list.full_name}">Full Name</th>
                        <th th:text="#{customer.list.email}">Email</th>
                        <th th:text="#{customer.list.phone}">Phone</th>
                        <th class="center aligned">
                            <div>
                                <a class="ui green icon button" th:href="@{/customer/add}">
                                    <i class="user plus icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td>
                            <a href="#" style="cursor:pointer"
                               th:href="@{/customer/{id}(id=${customer.id})}"
                               th:text="${customer.fullName}">Last First Middle
                            </a>
                        </td>
                        <td th:text="${customer.email}">nobody@nowhere.com</td>
                        <td th:text="${customer.phone}">322-33-22</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="common/main::footer"></footer>
    </body>
</html>