<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{customer.list.page_title}">Customer List</title>
        <link rel="stylesheet" type="text/css" th:href="@{~/css/semantic.min.css}">
    </head>
    <body>
        <div class="ui container" style="padding: 8px">
            <h1 class="ui header" th:text="#{customer.list.page_title}">Customer List</h1>
        </div>

        <div class="ui container segment">
            <table class="ui table">
                <thead>
                    <tr>
                        <th th:text="#{customer.list.id}">Id</th>
                        <th th:text="#{customer.list.full_name}">Full Name</th>
                        <th th:text="#{customer.list.phone}">Phone</th>
                        <th th:text="#{customer.list.email}">Email</th>
                        <th>
                            <a class="ui icon button" href="#" th:href="@{/customer/add}">
                                <i class="plus icon"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}">0</td>
                        <td th:text="${customer.fullName}">Rambo Silverster Stallonovich</td>
                        <td th:text="${customer.phone}">+1 322-22-33-22</td>
                        <td th:text="${customer.email}">nobody@nowhere.com</td>
                        <td>
                            <a class="ui icon button" th:href="@{/customer/edit(id=${customer.id})}">
                                <i class="edit icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{~/js/jquery.min.js}"></script>
        <script th:src="@{~/js/semantic.min.js}"></script>
    </body>
</html>