<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Customer profile</title>
        <link rel="stylesheet" type="text/css" th:href="@{~/css/semantic.min.css}">
    </head>
    <body>
        <div class="ui container segment">
            <form class="ui form" th:action="@{/customer/save}" th:object="${customer}" method="post">

                <h3 class="ui dividing header" th:text="#{customer.profile.page_title}">Customer profile</h3>

                <input type="hidden" th:field="*{id}">

                <div class="ui three fields">
                    <div class="field">
                        <label th:text="#{customer.profile.last_name}">Last Name</label>
                        <input type="text" th:field="*{lastName}" autofocus>
                    </div>
                    <div class="field">
                        <label th:text="#{customer.profile.first_name}">First Name</label>
                        <input type="text" th:field="*{firstName}">
                    </div>
                    <div class="field">
                        <label th:text="#{customer.profile.middle_name}">Middle Name</label>
                        <input type="text" th:field="*{middleName}">
                    </div>
                </div>

                <div class="ui two fields">
                    <div class="required field">
                        <label th:text="#{customer.profile.email}">Email</label>
                        <input type="text" th:field="*{email}">
                    </div>
                    <div class="field">
                        <label th:text="#{customer.profile.phone}">Phone</label>
                        <input type="text" th:field="*{phone}">
                    </div>
                </div>

                <div class="ui two buttons">
                    <button class="ui blue button" type="submit" th:text="#{customer.profile.save}">Save</button>
                    <a th:if="*{id}"
                       class="ui red button"
                       th:text="#{customer.profile.delete}"
                       th:href="@{/customer/delete(id=*{id})}">Delete</a>
                </div>
            </form>
        </div>

        <script th:src="@{~/js/jquery.min.js}"></script>
        <script th:src="@{~/js/semantic.min.js}"></script>
    </body>
</html>