<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Interstellar Ship Internet Shop - Home Page</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<div class="ui main container">
<div class="ui main grid">
    <div class="four wide column centered row">
        <div class="column left aligned">
            <div th:if="${param.error}">
                <div class="ui warning message">
                    <label th:text="#{login.index.message.error}"></label>
                </div>
            </div>
            <div  th:if="${param.logout}">
                <div class="ui warning message">
                    <label th:text="#{login.index.message.logout}"></label>
                </div>
            </div>

            <form class="ui form" th:action="@{/login}" method="post">
                <div class="field">
                    <label th:text="#{login.index.mail}"></label>
                    <input type="text" name="username" th:placeholder="#{login.index.mail.placeholder}" autofocus="autofocus"/>
                </div>
                <div class="field">
                    <label th:text="#{login.index.password}"></label>
                    <input type="password" name="password" th:placeholder="#{login.index.password.placeholder}"/>
                </div>
                <button class="ui primary button" type="submit" th:text="#{login.index.signin.button}">
                    Sign In
                </button>
            </form>
        </div>
    </div>
</div>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>