<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:object="${order}">
        Интернет-магазин Interstellar Ship: Новый заказ № [[*{id}]]
    </title>
</head>
<body>
<p th:object="${customer}">Добрый день, [[*{name}]]!</p>
<p th:object="${order}">
    Ваш заказ №[[*{id}]] от [[*{date}]] принят
</p>
<u>Состав заказа:</u>
<th:block th:each="orderLine : ${orderLines}">
    <p>
        [[${orderLine.id}]]:[[${orderLine.productName}]] - [[${orderLine.productQuantity}]]: [[${orderLine.price}]]
    </p>
</th:block>
<u>Комментарий к заказу:</u>
<p th:object="${order}" th:text="*{comment}"></p>
<p th:object="${order}"><b>Общая стоимость заказа:</b> [[*{totalPrice}]]</p>
<p th:object="${order}">
    Пожалуйста, при обращении к администрации магазина указывайте номер Ващего заказа [[*{id}]]
</p>
<p>Спасибо за покупку!</p>
</body>
</html>