<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:object="${order}" th:text="#{*{id}}">Новый заказ</title>
    <style>
        #center {
            text-align: center;
        }
    </style>
</head>
<body>
<p th:object="${order}"
   th:text="*{customerFirstName != null} ? #{email.order.welcome.registered(*{customerFirstName})} : #{email.order.welcome.anonymous}">
    Добрый день!</p>
<p th:object="${order}" th:text="#{email.order.accepted(*{id}, *{date})}">Ваш заказ принят</p>

<u th:text="#{email.order.contents.header}">Состав заказа:</u>

<table>
    <tr>
        <th>ID</th>
        <th>Наименование товара</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
    </tr>
    <tr th:block th:each="item : ${order.items}">
        <td id="center" th:text="${item.id}"></td>
        <td id="center" th:text="${item.itemName}"></td>
        <td id="center" th:text="${item.itemQuantity}"></td>
        <td id="center" th:text="${item.itemPrice}"></td>
    </tr>
</table>

<u>Комментарий к заказу:</u>
<p th:object="${order}" th:text="*{addressComment}"></p>

<u>Общая стоимость заказа:</u>
<p th:text="${totalPrice}"></p>

<p th:object="${order}" th:text="#{email.order.additional_info(*{id})}"></p>
<p th:text="#{email.order.thanks}"></p>
</body>
</html>