<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>

<div th:replace="common/main::header"></div>

<div class="ui left aligned container">
    <h2>Адреса магазинов:</h2>
    <div class="ui left aligned container" th:each="element:${addressShops}">
        <h3><p th:text="${element.address}"></p></h3>
        <p>График работы: <td th:text="${element.schedule}"></td></p><br>
    </div>
</div>

<footer th:replace="common/main::footer"></footer>
</body>
</html>