<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/main :: common_header(~{::title},_,_)">
    <title>Interstellar Ship</title>
</head>
<body>
<div th:replace="common/main :: header"></div>
<div class="ui container">
    <h2 class="ui header">Популярные товары</h2>
    <div class="ui five column grid">
        <div th:each="pr: ${products}" class="column">
            <div class="ui raised segment">
                <h4><a th:href="'product/' + ${pr.id}" th:text="${pr.name}"/></h4>
                <div class="ui red ribbon label">АКЦИЯ</div>
                <a class="ui medium image" th:href="'product/' + ${pr.id}">
                    <div th:if="${pr.picture == null or pr.picture.isEmpty()}">
                        <img th:src="'/img/' + ${@environment.getProperty('default.image')}">
                    </div>
                    <div th:unless="${pr.picture == null or pr.picture.isEmpty()}">
                        <img th:src="'/img/' + ${pr.id} + '/catalog.' + ${pr.picture}">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="ui main container">
    <div class="ui raised segment">
        <img class="ui fluid image" src="/img/stock.png">
    </div>
</div>
<footer th:replace="common/main::footer"></footer>
</body>
</html>